
body{
    background-color: brown;
}
.main-title{
    font-weight: bold;
    font: arial;
    text-align: center;
    font-size: large;
}
.content{
    font-weight: bold;
    font: arial;
    margin-bottom: 12px;
}